body {
  font-family: arial, sans-serif;
  font-size: 10pt;
  color: #444;
}

#content {
  width: 50em;
  margin: 0px auto;
}

.field_with_errors {
  background: pink;
}

.deleted {
  text-decoration: line-through;
}

.cardSet li {
	list-style-type: none; /* remove bullets */
	display: inline; /* make them horizontal */
}

.cardSet form {
	display: inline;
}

h1#logo {
	float: right;
}